{% extends "layout.html" %}

{% block title %}{{ office.name_short }}{% endblock %}

{% block heading %}{{ office.name }}{% endblock %}

{% block sub_heading %}{{ office.description }}{% endblock %}


{% block main %}
  {% from "/util/_permissions.html" import edit %}
  {% from "/util/_linking.html" import display_user %}

  <section class="row">


    <article class="col-lg-12">
      <p>{{ edit(has_permission_hq, request.url + "/edit/head", "Change Head") }}</p>
      <h3>Members:</h3>
      <ul>
        {% for member in office.members %}
          <li>
            {{ display_user(member) }}
            {% if member == office.head %}
              <strong>(Head)</strong>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <p>{{ edit(has_permission, request.url + "/edit/members", "Edit Membership") }}</p>
    </article>


    <article class="col-lg-12">
      {% if office.responsibilities %}
        <h3>Office responsibilities</h3>
        <ul>
          {% for resp in office.responsibilities %}
            <li>{{ resp }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <p>{{ edit(has_permission, request.url + "/edit/responsibilities", "Edit Responsibilities") }}</p>
    </article>


    <article class="col-lg-12">
      {% if office.sop %}
        <h3>SOP (Standard Operating Procedures)</h3>
        {% for sop in office.sop %}
          {% if sop.category %}
            <h4>{{ sop.category }}</h4>
          {% endif %}
          <ul>
            {% for point in sop.points %}
              <li>{{ point }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
      <p>{{ edit(has_permission, request.url + "/edit/sop", "Edit SOP") }}</p>
    </article>


    <article class="col-lg-12">
      {% if office.member_resp %}
        <h3>Member specific responsibilities</h3>
        <ul>
          {% for mem_resp in office.member_resp %}
            {% if mem_resp.uri %}
              <li><a href="{{ mem_resp.uri }}">{{ mem_resp.resp }}</a> ({{ mem_resp.member.arma_name }})</li>
            {% else %}
              <li>{{ mem_resp.resp }} ({{ mem_resp.member.arma_name }})</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      <p>{{ edit(has_permission, request.url + "/edit/member_resp", "Edit member responsibilities") }}</p>
    </article>


  </section>

{% endblock %}
