{% extends "layout.html" %}

{% block title %}{{ office.name_short }}{% endblock %}

{% block heading %}{{ office.name }}{% endblock %}

{% block sub_heading %}Temporary sub heading{% endblock %}

{% block nav_home %}{{ super() }}{% endblock %}

{% block main %}
  {% from "/util/_permissions.html" import edit %}
  {{ edit(has_permission) }}

  <section class="row">
    <article class="col-lg-12">
      <h3>Members:</h3>
      <ul>
        {% for member in office.members %}
          <li>
            {{ member.arma_name }}
            {% if member == office.head %}
              <strong>(Head)</strong>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
{% endblock %}
