{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block heading %}All users{% endblock %}

{% block sub_heading %}
  All the users on the site grouped according to rank and in alphabetical order
{% endblock %}


{% block main %}
  {% from "/util/_permissions.html" import edit %}
  {% from "/util/_datetime.html" import date %}

  <section class="row">

    {% for group in users %}
      <article class="col-sm-6 col-md-4">
        <h3><a href="{{ group.rank_url }}">{{ group.rank }}</a></h3>
        <ul>
          {% for user in group.users %}
            <li>
              <a href="{{ url_for('profile', steam_id=user.steam_id) }}">
                {% if user.rank %}
                  <img src="{{ url_for('ranks_image_thumb', name_short=user.rank.name_short) }}" alt="{{ user.rank.name }} thumbnail image">
                {% endif %}
                {{ user.arma_name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </article>
    {% endfor %}

  </section>

{% endblock %}
