{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block heading %}All users{% endblock %}

{% block sub_heading %}
  All the users on the site by alphabetical order
{% endblock %}


{% block main %}
  {% from "/util/_permissions.html" import edit %}
  {% from "/util/_datetime.html" import date %}

  <section class="row">


    <article class="col-lg-12">
      <h3>Users</h3>
      <ul>
        {% for user in users %}
          <li>
            {% if user.rank %}
              <a href="{{ url_for('ranks_rank', name_short=user.rank.name_short) }}">
                <img src="{{ url_for('ranks_image_thumb', name_short=user.rank.name_short) }}" alt="{{ user.rank.name }} thumbnail image">
              </a>
            {% endif %}
            <a href="{{ url_for('profile', steam_id=user.steam_id) }}">{{ user.arma_name }}</a>
          </li>
        {% endfor %}
      </ul>
    </article>


  </section>

{% endblock %}
