{% extends "layout.html" %}

{% block title %}{{ user.arma_name }}{% endblock %}

{% block heading %}{{ user.arma_name }}{% endblock %}

{% block sub_heading %}Profile page for {{ user.arma_name }}{% endblock %}


{% block main %}
  {% from "/util/_permissions.html" import edit %}
  {% from "/util/_datetime.html" import date %}
  <section class="row">

    <article class="col-lg-12">
      <h3><a href="http://steamcommunity.com/profiles/{{ user.steam_id }}">Steam profile page</a></h3>
    </article>

    <article class="col-lg-12">
      <h3>History of Arma names:</h3>
      {% for arma_name in user.arma_names|sort(attribute='created') %}
        <p><strong>{{ arma_name.arma_name }}</strong> - ({{ date(arma_name.created) }})</p>
      {% endfor %}
      <p>{{ edit(is_owner, request.url + "/update/arma-name", "Update Arma name") }}</p>
    </article>

    <article class="col-lg-12">
      <h3>TeamSpeak IDs:</h3>
      {% for ts_id in user.ts_ids|sort(attribute='created') %}
        <p>{{ ts_id.ts_id }}</p>
      {% endfor %}
      <p>{{ edit(is_owner, request.url + "/update/ts-id", "Add TeamSpeak ID") }}</p>
    </article>

  </section>
{% endblock %}
