{% extends "layout.html" %}

{% block title %}{{ user.arma_name }}{% endblock %}

{% block heading %}
  {% if user.rank %}
    {{ user.rank.name_short }} {{ user.arma_name }}
  {% else %}
    {{ user.arma_name }}
  {% endif %}
{% endblock %}
{% block header_image_url %}
  {% if user.rank %}
    {{ url_for('ranks_image', name_short=user.rank.name_short, _external=True) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block sub_heading %}
  Profile page for {{ user.arma_name }}. This user is only a member of Zulu-Alpha if they have a
  rank and the recruit badge.
{% endblock %}


{% block main %}
  {% from "/util/_permissions.html" import edit %}
  {% from "/util/_datetime.html" import date %}

  <section class="row">


    <article class="col-lg-12">
      <h3><a href="http://steamcommunity.com/profiles/{{ user.steam_id }}">Steam profile page</a></h3>
    </article>


    {% if is_owner_or_org and user.rank %}
      <article class="col-lg-12">
        <h3>Squad XML</h3>
        {% if is_owner %}
          <p>Copy and paste the following URL into your 'Squad URL' in your Arma 3 profile screen:</p>
          <ul>
            <li><strong>{{ url_root }}{{ url_for('profile_xml', steam_id=user.steam_id) }}</strong></li>
          </ul>
          <p>Your Squad XML is currently displaying <strong>{{ user.xml_display }}</strong></p>
        {% else %}
          <p>Squad XML is currently displaying <strong>{{ user.xml_display }}</strong></p>
        {% endif %}
        <p>{{ edit(is_owner_or_org, url_for('update_xml_display', steam_id=user.steam_id), "Change XML Type") }}</p>
      </article>
    {% endif %}


    <article class="col-lg-12">
      <h3>Rank</h3>
      {% if user.rank %}
        <a href="{{ url_for('ranks_rank', name_short=user.rank.name_short) }}">
          <img src="{{ url_for('ranks_image_thumb', name_short=user.rank.name_short) }}" alt="{{ user.rank.name }} thumbnail image">
          {{ user.rank.name_short }} - ({{ user.rank.name }})
        </a>
      {% else %}
        No rank
      {% endif %}
      <p>{{ edit(is_org, url_for('ranks_assign', steam_id=user.steam_id), "Assign Rank") }}</p>
    </article>


    <article class="col-lg-12">
      <h3>History of Arma names:</h3>
      {% for arma_name in user.arma_names|sort(attribute='created', reverse=True) %}
        <p><strong>{{ arma_name.arma_name }}</strong> - ({{ date(arma_name.created) }})</p>
      {% endfor %}
      <p>{{ edit(is_owner_or_org, url_for('update_arma_name', steam_id=user.steam_id), "Update Arma name") }}</p>
    </article>


    {% if is_owner_or_org %}
      <article class="col-lg-12">
        <h3>TeamSpeak IDs:</h3>
        {% for ts_id in user.ts_ids|sort(attribute='created') %}
          <p>{{ ts_id.ts_id }}</p>
        {% endfor %}
        <p>{{ edit(is_owner_or_org, url_for('update_ts_id', steam_id=user.steam_id), "Add TeamSpeak ID") }}</p>
      </article>
    {% endif %}


    {% if is_owner_or_org %}
      <article class="col-lg-12">
        <h3>Email</h3>
        <p><strong>{{ user.email }}</strong></p>
        <p>{{ edit(is_owner_or_org, url_for('update_email', steam_id=user.steam_id), "Change email") }}</p>
      </article>
    {% endif %}

    {% if user.rank %}
      <article class="col-lg-12">
        <h3>Slack:</h3>
        {% if not user.slack_id %}
          {% if not user.slack_invited %}
            <p><strong>Not invited</strong></p>
            <p>{{ edit(is_org, url_for('slack_invite', steam_id=user.steam_id), "Invite") }}</p>
          {% else %}
            <p><strong>Invited</strong></p>
            <p>{{ edit(is_org, url_for('slack_invite', steam_id=user.steam_id), "Invite again") }}</p>
          {% endif %}
        {% else %}
          <p><strong>In slack team</strong></p>
        {% endif %}
      </article>
    {% endif %}

  </section>

{% endblock %}
