{% extends "layout.html" %}

{% block title %}Create {{ url_elective.presentable_name }}{{ event_type.presentable_name }}{% endblock %}

{% block heading %}Create {{ url_elective.presentable_name }}{{ event_type.presentable_name }}{% endblock %}

{% block sub_heading %}
  Create a new {{ url_elective.presentable_name }}{{ event_type.presentable_name }} event.
{% endblock %}


{% block main %}
  {% from "/util/_formhelpers.html" import render_form %}

  <section class="row">

    <article class="col-lg-6">

      <form data-parsley-validate action="{{ url_for("event_create", type_url=event_type.name, elective=url_elective.name) }}" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Create new event:</legend>
          {{ render_form(form) }}
          <button type="submit" class="btn btn-default">Create Event</button>
        </fieldset>
      </form>

    </article>

  </section>
{% endblock %}
