<!DOCTYPE HTML>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Zulu-Alpha.co.za</title>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>

    <!-- CSS -->
    {% assets "css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
  </head>


  <body>


    <!-- Off canvas drawer (Nav menu) -->
    <aside id="drawer">
      <nav class="list-group">
        {% if current_user.is_authenticated %}
            <a class="list-group-item list-group-item-info">Hello {{ current_user.arma_name }}!</a>
            <a class="list-group-item list-group-item-warning" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a class="list-group-item list-group-item-info" href="{{ url_for('login') }}">
              <figure>
                <img class="img-responsive center-block" src="{{ url_for('static', filename='img/sits_large_border.png') }}" alt="Login with Steam">
              </figure>
            </a>
          {% endif %}
        <!-- Actual Nav menu -->
        {% from "/util/_nav_select.html" import nav_active %}
        {{ nav_active(url_for('home'), 'Home') }}
        <br>
        {% for office in g.offices %}
          {{ nav_active(url_for('office', office_name=office.name_short), office.name + ' Office') }}
        {% endfor %}
      </nav>
    </aside>


    <!-- Hamburger menu for drawer -->
    <a role="button" id="ham-menu">
      <svg class="svg-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"></path>
      </svg>
    </a>


    <!-- Main page container -->
    <div class="container-fluid" id="content">


      <!-- Header -->
      <header class="row">
        <div class="col-lg-4">
          <figure>
            <img src="{{ url_for('static', filename='img/logo_314x350.png') }}" class="img-responsive center-block" alt="ZA Logo">
          </figure>
        </div>
        <div class="col-lg-8 jumbotron">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">{% block heading %}Zulu-Alpha{% endblock %}</h1>
            </div>
          </div>
          <div class="row sub-heading">
            <div class="col-md-12">
              <p class="text-center">
                {% block sub_heading %}
                  We are a serious South African Arma community that makes our own content
                  and use real world military tactics. We mainly play CO-OP with some
                  occasional FvF against other international communities.
                {% endblock %}
              </p>
            </div>
          </div>
        </div>
      </header>


      <!-- Flashing -->
      {% from "/util/_formhelpers.html" import render_flashes %}
      {{ render_flashes() }}


      <!-- Page specific content -->
      <main class="separator">
        {% block main %}
        {% endblock %}
      </main>


      <!-- Footer -->
      <footer class="row separator">
        <div class="col-lg-12">
          {% block footer %}
            <p>
              &copy; 2016 by Zulu-Alpha.co.za. This site and it's code is provided under
              the <a href="https://www.gnu.org/copyleft/gpl.html">GNU General Public
              License v3.0</a>.
            </p>
            <p>
              <a href="http://steampowered.com">Powered by Steam</a>.
            </p>
          {% endblock %}
        </div>
      </footer>


    </div>


    <!-- JS -->
    {% block scripts %}
      <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
      {% assets "js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.2.0/parsley.min.js"></script>
    {% endblock scripts %}


  </body>
</html>

