/** {
    outline: 1px solid red !important;
}
*/
aside {
    z-index: 2;
    background-color: #C9C9C9;
    /* I have to be careful to choose a value that wont overflow on small viewports */
    width: 250px;
    height: 100%;
    position: fixed;
    /* This transform moves the drawer off canvas. */
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    /* Optional animation */
    transition: transform 0.3s ease;
}

aside.open {
    -webkit-transform: translate(0px, 0);
    transform: translate(0, 0);
}

.separator {
    padding-top: 2.5em;
}

.svg-button {
    width: 40px;
    fill: #000
}

#ham-menu {
    position: fixed;
    left: 10px;
    top: 5px;
    z-index: 1;
}

.nav-section{
    margin-bottom: 20px;
}

/* Drawer Breakpoint */
@media screen and (min-width: 768px) {
    aside {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #content {
        left: 250px;
        position: absolute;
    }

    #ham-menu {
        display: none;
    }
}

/* Major Bootstrap Breakpoint 1 */
@media screen and (min-width: 768px) {
    .jumbotron h1 {
        font-size: 46px;
    }
}

/* Major Bootstrap Breakpoint 2 */
@media screen and (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 63px;
    }
}

/* Major Bootstrap Breakpoint 3 */
@media screen and (min-width: 1450px) { /* 1200 -> 1400 */
    .container-fluid {
        width: 1170px;
    }

    .sub-heading {
        padding-top: 3.5em;
    }

    body {
        left: 20%;
    }
}