{% extends "layout.html" %}

{% block title %}Ranks{% endblock %}

{% block heading %}Ranks{% endblock %}

{% block sub_heading %}
  All the Ranks used by Zulu-Alpha and their purposes.
{% endblock %}


{% block main %}
  {% from "/util/_permissions.html" import edit %}

  <section class="row">


    {% for rank in ranks %}

      <article class="col-lg-12">
        <h3>{{ rank.name }} ({{ rank.name_short }})</h3>
        <img src="{{ url_for('ranks_image', name_short=rank.name_short) }}" class="img-responsive" alt="{{ rank.name }} image">
        <p>Rank hierarchy: {{ rank.order }}</p>
        <p>TS Server group: {{ rank.ts_group }}</p>
        <p>{{ rank.description }}</p>
      </article>

    {% endfor %}


  </section>

{% endblock %}
