{% macro render_field(field) %}
  {% if field.type not in ['CSRFTokenField','HiddenField'] and not field.skip|default(false) %}
    {% if field.errors %}
      <div class="form-group has-error">
        {{ field.label(class_="control-label")|safe }}
        {{ field(class_="form-control")|safe }}
        <span class="help-block">
          {% for error in field.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </span>
      </div>
    {% else %}
      <div class="form-group">
        {{ field.label(class_="control-label")|safe }}
        {{ field(class_="form-control")|safe }}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro render_form(form) %}
  {{ form.hidden_tag() }}
  {% for field in form %}
    {{ render_field(field) }}
  {% endfor %}
{% endmacro %}


{% macro render_flashes() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <section class="separator">
        {% for category, message in messages %}
          <div class="row">
            <div class="col-lg-12">
              {% if category is equalto 'message' %}
                {% set category = 'info' %}
              {% endif %}
              <p class="alert alert-{{ category }}" role="alert">{{ message }}</p>
            </div>
          </div>
        {% endfor %}
      </section>
    {% endif %}
  {% endwith %}
{% endmacro %}
