{% macro submenus(url, name) %}
  <ul class="dropdown-menu">

    {# Add parent as sub menu as dropdowns render origional button unnavigable. #}
    {% if g.request_path == url %}
      <li class="active"><a href="#">{{ name }} Page</a></li>
    {% else %}
      <li><a href="{{ url }}">{{ name }} Page</a></li>
    {% endif %}
      <li role="separator" class="divider"></li>

    {# List actual sub menus #}
    {% for menu in g.menus[url] %}
      {% if g.request_path == menu.url %}
        <li class="active"><a href="{{ menu.url }}">{{ menu.name }}</a></li>
      {% else %}
        <li><a href="{{ menu.url }}">{{ menu.name }}</a></li>
      {% endif %}
    {% endfor %}

  </ul>
{% endmacro %}


{% macro nav_active(url, name) %}
  {% if url in g.menus %}

    {# Make active if current url is the parent page or one of the sub menus. #}
    {% if g.request_path == url or g.request_path in g.menus_url[url] %}
      <li role="presentation" class="active dropdown">
    {% else %}
      <li role="presentation" class="dropdown">
    {% endif %}
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          {{ name }} <span class="caret"></span>
        </a>
        {{ submenus(url, name) }}
      </li>

  {% else %}

    {% if g.request_path == url %}
      <li role="presentation" class="active"><a href="#">{{ name }}</a></li>
    {% else %}
      <li role="presentation"><a href="{{ url }}">{{ name }}</a></li>
    {% endif %}

  {% endif %}
{% endmacro %}
