{% extends "layout.html" %}

{% block title %}Rules{% endblock %}

{% block heading %}Rules{% endblock %}

{% block sub_heading %}The foundational rules of Zulu-Alpha{% endblock %}


{% block main %}
  <section class="row">
    <article class="col-lg-12">
      <h3>Principles</h3>
      <ul>
        <li>Zulu-Alpha (or the group) is a group which consists of mature, like minded adults</li>
        <li>This is a group which desires a level of gameplay above what is possible in almost any
          other game, and which wants to be involved in Mil-Sim gameplay.</li>
        <li>This group values honesty, patience and a willingness to learn over power, skill and
          status.</li>
        <li>This group prefers an enjoyable environment over an excessively realistic one.</li>
        <li>The basic requirements for membership of this group other than technical requirements
          (adequate hardware and software) is an ability to focus, ability to follow orders,
          Self-motivation, a concerted effort to be competent in the roles being performed and an
          ability to persevere under boring or adverse conditions.</li>
        <li>Membership will always be free, and no discrimination will be made based on
          donations.</li>
        <li>Potential new members are encouraged and invested in.</li>
      </ul>
      <h3>Rules</h3>
      <ul>
        <li>Respect other members.</li>
        <li>No general disruptive behavior.</li>
        <li>No violations of an SOP.</li>
        <li>Must continue to meet the basic requirements for membership specified in
          principles.</li>
        <li>No corrosive behavior (behavior which negatively effects the overall quality and
          enjoyment of the group’s experience).</li>
        <li>No Poor personal conduct.</li>
        <li>English must be the language spoken.</li>
        <li>Violations of any of the above rules can be considered offenses which may lead to
          disciplinary action</li>
      </ul>
      <h3>Members</h3>
      <ul>
        <li>Prospective members must register onto this site and organize to take part in the
          selection process (See Selection SOP, which falls under the Training Office).</li>
        <li>If the prospective member passes the selection process, then they will become a member
          with the lowest rank.</li>
        <li>All members are granted freedom of speech within the appropriate sections of the site
          and other communication platforms, while it is not disruptive to the group (See Website
          SOP).</li>
      </ul>
      <h4>Ranks</h4>
      <ul>
        <li>Ranks serve to represent the level of commitment, experience, representation of the
          group principles, and the level of respect from fellow members, among other criteria
          (See Ranks, which falls under the Organizational Office).</li>
        <li>The ranking system serves to ease organization, and knowledge of area of
          responsibilities.</li>
        <li>Increases in ranks are voluntary, and as such no one will be forced to gain in rank.
          If a member would like to fall in rank, then that member must contact the head of the
          Organizational Office (See Organizational SOP).</li>
        <li>Ranks will never be used as an incentive or reward system</li>
        <li>Ranks are not intended to be used in an excessively military or realistic manner and
          formalities are neither expected nor required.</li>
      </ul>
      <h4>HQ</h4>
      <ul>
        <li>HQ comprises of members who are the most responsible for the operation, development
          and organization of the group (See Offices & SOP for members of HQ).</li>
        <li>Each HQ member head’s one or more offices (though the head of an office is not
          necessarily a member of HQ) (See Offices & SOP).</li>
        <li>Members are invited to become part of HQ only.</li>
        <li>HQ members are subject to the same rules and SOP as any other member, although HQ can
          collectively change any rule or SOP.</li>
      </ul>
      <h4>Memberships Exclusivity</h4>
      <ul>
        <li>ZA members are not prohibited from belonging to other Arma Mil-Sim groups, subject to
          a few conditions:</li>
        <li>
          <ul>
            <li>The member must inform The Organizational Office (See Organizational SOP) that
              they are joining or are already a member of another group.</li>
            <li>The member is prohibited from attaining a rank above a certain level (See Ranks,
              which falls under the Organizational Office).</li>
            <li>The member is not allowed to be a member of HQ, or heading an office (See Offices
              & SOP).</li>
          </ul>
        </li>
      </ul>
    </article>
  </section>
{% endblock %}
